body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.card {
    background: rgb(252, 148, 181);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;

}

button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: darkred;
}

@keyframes float {
    0% { transform: translateY(0) scale(1); opacity: 1; }
    50% { transform: translateY(-50vh) scale(1.2); opacity: 0.8; }
    100% { transform: translateY(-100vh) scale(1.5); opacity: 0; }
}

/* floating hearts */
.heart {
    --c: red;
  width: 20px;
  aspect-ratio: 1;
  background:
   radial-gradient(circle at 60% 65%,var(--c) 64%,#0000 65%) top left/50% 50%,
   radial-gradient(circle at 40% 65%,var(--c) 64%,#0000 65%) top right/50% 50%,
   conic-gradient(from -45deg at 50% 85.5%,var(--c) 90deg,#0000 0) bottom/100% 50%;
  background-repeat: no-repeat;
}

/* Style for the GIF */
#valentine-gif {
    width: 150px; /* Set the width of the GIF */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Make it behave like a block element */
    margin: 0 auto; /* Center the GIF horizontally */
    border-radius: 10px; /* Optional: add rounded corners */
}
